In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
predictions = pd.read_csv("20230103.csv")
predictions

       Stock  Prediction
0     600000   -0.399865
1     600004   -0.306387
2     600007   -0.306387
3     600010   -0.373986
4     600011   -0.234862
...      ...         ...
1115  688366   -0.062397
1116  688369   -0.306387
1117  688388   -0.332061
1118  688389   -0.306387
1119  688399   -0.363904

[1120 rows x 2 columns]

In [26]:
bestcodes = pd.DataFrame()
def best_10_of_predictions(filename):
    predictions = pd.read_csv(filename)
    predictions = predictions.sort_values('Prediction', ascending=False)
    bestcode = predictions.head(10)["Stock"].reset_index(drop=True)
    return bestcode

In [27]:
filenames = ["20230103.csv","20230403.csv","20230703.csv","20231009.csv","20240102.csv","20240401.csv","20240701.csv","20241008.csv"]
for filename in filenames:
    bestcode = best_10_of_predictions(filename)
    bestcodes = pd.concat([bestcodes,bestcode])
bestcodes.columns = ["code"]
bestcodes["code"] = bestcodes["code"].astype(int)
bestcodes

      code
0   600322
1   600339
2   601010
3   601106
4   600968
..     ...
5   601158
6   600236
7   600025
8   600028
9   601398

[80 rows x 1 columns]

In [28]:
bestcodes.to_excel("best_predictions.xlsx",index=False)